section.accordeon
	.accordeon-logo
		img.accordeon-logo__img(src="images/logo.png", alt="logo")

	ul.accordeon__list
		each item in ['Основы языка и как на нём говорить правильно', 'Функции', 'Обработка ошибок и отладка', 'Объекты и массивы', 'События']
			li.accordeon__item
				a.accordeon__link(href="#")= item
				ul.accordeon__lower
					li.accordeon__lower-item Лексическая структура
					li.accordeon__lower-item Типы данных, значения и переменные
					li.accordeon__lower-item Выражения и операторы инструкции
